.jumbotron {
  background: url("app/images/brews.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.newBrewForm {
  text-align: center;
}

.btn, select {
  margin: 1%;
}

li, select {
  list-style: none;
  font-size: 20px;
}
